/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.gap {
    gap: .7rem;
}

a {
    text-decoration: none;
    color: white;
}

.padding {
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16%;
    cursor: pointer;
}

.card img {
    width: 100%;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
    text-align: center;
}

p {
    color: grey;
    font-size: 12px;
    font-weight: bold;
}

.button {
    padding: .5rem 2rem;
    border: 2px solid white;
    border-radius: 2rem;
}

/* main styles */
main {
    background-color: #141922;
}

/* side bar style */
.side-bar {
    padding: 0 .5rem;
    color: grey;
    height: calc(100vh - 8rem);
    background-color: #000000;
    width: 15rem;
    overflow: hidden;
}

.side-bar div {
    color: grey;
}

.side-bar * {
    margin: .3rem 0;
}

.logo-hidden {
    display: none;
}

.nav-icon {
    font-size: 20px;
    width: 15px;
}

.add-playlist {
    cursor: pointer;
}

.add {
    background-color: grey;
    padding: .5rem;
    color: black;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    overflow: hidden;
}

#user {
    color: white;
    font-weight: bold;
}

/* principal style */
.principal {
    width: 100%;
    height: calc(100vh - 8rem);
    overflow-y: scroll;
}

.upgrade {
    height: 5rem;
    background-color: #080b12;
}

.upgrade a {
    margin-right: 2rem;
}

.nav-content {
    padding: 1rem 4rem;
    color: grey;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    gap: 1rem;
}

.content {
    color: grey;
    padding-bottom: .3rem;
    border-bottom: 2px solid greenyellow;
}

.history p {
    text-align: center;
}

.cards-history {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0;
}

.card * {
    margin-bottom: .5rem;
}


.builded h2 {
    margin-bottom: .5rem;
}

.cards-builded {
    display: flex;
    padding: 2rem 0;
    gap: 7px;
}

.cards-artists {
    display: flex;
    padding: 2rem 0;
    gap: 7px;
}

.img-artist {
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

/* footer styles */
footer {
    display: flex;
    align-items: center;
    height: 8rem;
    background-color: #282828;
}

.play {
    width: 100%;
}

footer i {
    font-size: 13px;
}

.left i {
    color: grey;
}

.left {
    width: 20%;
    /* justify-content: flex-start; */
}

.right {
    width: 20%;
    justify-content: flex-end;
}

.song-img img {
    width: 100%;
    max-width: 5.5rem;
    min-width: 2rem;
}


.center {
    flex-basis: 50%;
}

.command {
    justify-content: center;
}

.circled {
    padding: .2rem .25rem .2rem .35rem;
    border-radius: 50%;
    border: 2px solid white;
}

.time {
    margin-top: .5rem;
    font-size: 12px;
    width: 80%;
}

.grey-line {
    position: relative;
    height: 5px;
    width: 100%;
    background-color: grey;
    border-radius: 1rem;
}

.white-line {
    position: absolute;
    height: 5px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

/* test change range bar for chorme and firefox */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        max-width: 100px;
        width: 8vw;
        -webkit-appearance: none;
        background-color: grey;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 5px;
        -webkit-appearance: none;
        color: #ffffff;
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0);
        box-shadow: -80px 0 0 80px #ffffff;
    }
}

input[type='range']:hover::-webkit-slider-thumb {
    background: rgba(255, 255, 255);
    box-shadow: -80px 0 0 80px #46fb2e;
}

input[type="range"]::-moz-range-progress {
    background-color: #5bf743;
}

input[type="range"]::-moz-range-track {
    background-color: grey;
}

@-moz-document url-prefix() {
    input[type="range"] {
        background-color: #282828;
    }
}

/* end test */

/* media queries */

@media screen and (max-width: 1100px) {

    .nav-content {
        flex-wrap: wrap;
    }

    .cards-history {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: .5rem;
    }

    .card {
        min-width: 179px;
    }
}

@media screen and (max-width: 770px) {
    .cards-history {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cards-builded {
        justify-content: space-evenly;
    }

    .cards-artists {
        justify-content: space-evenly;
    }

    .card {
        width: 45%;
    }

    .card {
        min-width: 179px;
    }

    .like-folder {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .song h4 {
        font-size: 12px;
    }

    .song p {
        font-size: 10px;
    }

    .left *,
    .right * {
        gap: .2rem;
    }
}

@media screen and (max-width: 570px) {
    .description {
        display: none;
    }

    .playlist {
        display: none;
    }

    #user {
        display: none;
    }

    hr {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo-hidden {
        display: block;
    }

    .side-bar {
        width: 3rem;
    }

    .side-main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .footer-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    .song-img {
        display: none;
    }

    .card {
        min-width: 50px;
    }

    input[type='range'] {
        display: none;
    }
}

/* hover effects */

.upgrade a:hover {
    transition: .5s;
    transform: scale(1.2);
}

.hover-card {
    position: relative;
}

.card i {
    display: none;
    position: absolute;
    left: calc(50% - (25.6px / 2));
    top: calc(50% - 34.4px / 2);
}

.card:hover img {
    transition: .5s;
    filter: brightness(.5);
}

.card:hover i {
    display: block;
}

.content:hover {
    cursor: pointer;
    color: white;

}

.content {
    position: relative;
}

.left-animation {
    position: absolute;
    top: 90%;
    width: 50%;
    height: 5px;
    background-color: #141922;
}

.right-animation {
    position: absolute;
    left: 50%;
    top: 90%;
    width: 50%;
    height: 5px;
    background-color: #141922;
}

.content:hover .left-animation {
    transition: .5s;
    transform: translateX(-100%);
}

.content:hover .right-animation {
    transition: .5s;
    transform: translateX(100%);
}

.description:hover {
    cursor: pointer;
    color: white;
}

.playlist div:hover {
    cursor: pointer;
    color: white;
}

footer i:hover {
    transform: scale(1.2);
    transition: .5s;
    color: white;
    cursor: pointer;
}