/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.gap {
    gap: .7rem;
}

a {
    text-decoration: none;
    color: white;
}

.padding {
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16%;
}

.card img {
    width: 100%;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
    text-align: center;
}

p {
    color: grey;
    font-size: 12px;
    font-weight: bold;
}

.button {
    padding: .5rem 2rem;
    border: 2px solid white;
    border-radius: 2rem;
}

/* main styles */
main {
    background-color: #141922;
}

/* side bar style */
.side-bar {
    padding: 0 .5rem;
    color: grey;
    height: calc(100vh - 8rem);
    background-color: #000000;
    width: 15rem;
}

.side-bar div {
    color: grey;
}

.side-bar * {
    margin: .3rem 0;
}

.nav-icon {
    font-size: 20px;
    width: 15px;
}

.add {
    background-color: grey;
    padding: .5rem;
    color: black;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    overflow: hidden;
}

#user {
    color: white;
    font-weight: bold;
}

/* principal style */
.principal {
    width: 100%;
    height: calc(100vh - 8rem);
    overflow-y: scroll;
}

.upgrade {
    height: 5rem;
    background-color: #080b12;
}

.nav-content {
    padding: 1rem 4rem;
    color: grey;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    gap: 1rem;
}

.content {
    padding-bottom: .3rem;
    border-bottom: 2px solid greenyellow;
}

.history p {
    text-align: center;
}

.cards-history {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0;
}

.card * {
    margin-bottom: .5rem;
}


.builded h2 {
    margin-bottom: .5rem;
}

.cards-builded {
    display: flex;
    padding: 2rem 0;
    gap: 7px;
}

.cards-artists {
    display: flex;
    padding: 2rem 0;
    gap: 7px;
}

.img-artist {
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

/* footer styles */
footer {
    display: flex;
    align-items: center;
    height: 8rem;
    background-color: #282828;
}

.play {
    width: 100%;
}

footer i {
    font-size: 13px;
}

.left i {
    color: grey;
}

.left {
    width: 20%;
    /* justify-content: flex-start; */
}

.right {
    width: 20%;
    justify-content: flex-end;
}

.song-img img {
    width: 100%;
    max-width: 5.5rem;
    min-width: 2rem;
}


.center {
    flex-basis: 50%;
}

.command {
    justify-content: center;
}

.circled {
    padding: .2rem .25rem .2rem .35rem;
    border-radius: 50%;
    border: 2px solid white;
}

.time {
    margin-top: .5rem;
    justify-content: center;
    font-size: 12px;
}

.grey-line {
    position: relative;
    height: 5px;
    width: 100%;
    background-color: grey;
    border-radius: 1rem;
}

.white-line {
    position: absolute;
    height: 5px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        max-width: 100px;
        width: 8vw;
        -webkit-appearance: none;
        background-color: grey;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 5px;
        -webkit-appearance: none;
        color: #ffffff;
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0);
        box-shadow: -80px 0 0 80px #ffffff;
    }
}

input[type='range']:hover::-webkit-slider-thumb {
    background: rgba(255, 255, 255);
    box-shadow: -80px 0 0 80px #46fb2e;
}